.subtitle {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    font-size: 0;
    pointer-events: none;
}

.text {
    display: grid;
    font-size: 1.25rem;
    text-align: center;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    color: white;
    width: 100%;
    height: 100%;
    padding: 14px;
}

.text span {
    margin-bottom: 0;
    margin-top: auto;
    z-index: 10000;
}